@page "/"
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@using InstantTodo.Shared

<PageTitle>Home</PageTitle>

<div class="container text-center" style="max-width: 500px;">
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Enter a title for a new list" />
    </div>
    
    @if (todoLists != null)
    {
        <div class="list-group mb-3 text-start">

        @foreach (TodoList list in todoLists)
        {
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@list.Title</h5>
                    <small>@list.GetPassedTime()</small>
                </div>
                <p class="mb-1">@list.Description</p>
                <small>@list.GetTasksPreview()</small>
            </a>
        }
        </div>

    }

</div>


@code{
    List<TodoList>? todoLists;

    protected override async Task OnInitializedAsync()
    {
        await GetLists();
    }

    async Task GetLists()
    {
        string? jsonOutput = await LocalStorage.GetItemAsync<string>("data");
        if (!string.IsNullOrEmpty(jsonOutput))
        {
            todoLists = JsonSerializer.Deserialize<List<TodoList>>(jsonOutput);
        }
    }
}