@page "/"
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@using InstantTodo.Shared

<PageTitle>Home</PageTitle>

<div class="container text-center">
    <div class="row justify-content-md-center">
        <ListOverview todoLists="todoLists"
                      OnSubmit="AddList" 
                      ClickedList="DisplayList"
                      ClickedListDelete="DeleteList"/>
        @if (activeId < int.MaxValue)
        {
            <TodoListView todoList="activeList" 
                          OnSubmit="AddTodoItem"
                          OnChecked="UpdateItemCheck"
                          OnDescriptionUpdate="UpdateLocalStorage" />
        }

    </div>
</div>

@code{
    List<TodoList> todoLists = new();
    TodoList activeList = new();

    int activeId = int.MaxValue;

    protected override async Task OnInitializedAsync()
    {
        await GetLists();
    }

    private async Task UpdateLocalStorage() => await LocalStorage.SetItemAsync("data", JsonSerializer.Serialize(todoLists));
    private async Task DeleteData() => await LocalStorage.RemoveItemAsync("data");
    private TodoList GetListById(int listId) => todoLists.Where(x => x.Id == listId).FirstOrDefault();

    async Task GetLists()
    {
        string? jsonOutput = await LocalStorage.GetItemAsync<string>("data");
        if (!string.IsNullOrEmpty(jsonOutput))
        {
            todoLists = JsonSerializer.Deserialize<List<TodoList>>(jsonOutput);
        }
    }

    async Task AddList(string title)
    {
        todoLists.Add(new TodoList() { Id = todoLists.Count + 1, Title = title });
        await UpdateLocalStorage();
    }

    async Task DeleteList(int id)
    {
        //TODO NULL HANDLING
        TodoList list = todoLists.Where(x => x.Id == id).FirstOrDefault();

        todoLists.Remove(list);

        if (activeId == id) //Makes sure to close the opened todolist, when the todolist is the one that is removed.
        {
            activeId = int.MaxValue;
        }
        await UpdateLocalStorage();
    }



    private void DisplayList(int id)
    {
        //ADD NULL HANDLING
        TodoList list = todoLists.Where(x => x.Id == id).FirstOrDefault();

        activeList = list;
        this.activeId = id;
    }

    async Task AddTodoItem(KeyValuePair<int, string> todoTitleWithListId)
    {
        int id = todoTitleWithListId.Key;
        string title = todoTitleWithListId.Value;

        //Get the list by given ID
        //ADD NULL HANDLING
        TodoList list = GetListById(id);

        //Create TodoItem object with the given title
        TodoItem newItem = new()
            {
                Id = list.TodoItems.Count + 1,
                Title = title
            };

        list.TodoItems.Add(newItem);

        await UpdateLocalStorage();
    }

    async Task UpdateItemCheck(KeyValuePair<int, int> listIdAndItemId)
    {
        int listId = listIdAndItemId.Key;
        int itemId = listIdAndItemId.Value;

        TodoList list = GetListById(listId);
        TodoItem item = list.TodoItems.Where(x => x.Id == itemId).FirstOrDefault();

        //toggle IsDone
        item.IsDone = !item.IsDone;

        await UpdateLocalStorage();

    }
}