@page "/"
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@using InstantTodo.Shared

<PageTitle>Home</PageTitle>

<div class="container text-center">
    <div class="row justify-content-md-center">
        <ListOverview todoLists="todoLists"
                      OnSubmit="AddList" />

        <TodoListView/>

    </div>
</div>

@code{
    List<TodoList> todoLists = new();
    string titleNewList = "";

    protected override async Task OnInitializedAsync()
    {
        await GetLists();
    }

    async Task GetLists()
    {
        string? jsonOutput = await LocalStorage.GetItemAsync<string>("data");
        if (!string.IsNullOrEmpty(jsonOutput))
        {
            todoLists = JsonSerializer.Deserialize<List<TodoList>>(jsonOutput);
        }
    }

    async Task AddList(string title)
    {
        todoLists.Add(new TodoList() { Title = title });
        titleNewList = "";
        string json = JsonSerializer.Serialize(todoLists);

        await LocalStorage.SetItemAsync("data", json);
        
    }

    async Task DeleteData(){
        await LocalStorage.RemoveItemAsync("data");
    }
}